
.Profile {

    background-color: #ff9800;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    

}


.componentwindow {

    margin-top: -18em;
    padding-top: 1em;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color:#2196F3;



}

.profileheadline {
    padding-left: .4em;
    color: #2196F3;
}