/* div.row{
    background-color:salmon;
    color:black;
}



.h1,h1{
    margin-top: 40px;
    padding: 20px;
    background-color:salmon;
};

.h3,h3{
    margin-left: 51px;
    margin-top: 68px;
}

div.col-md-6{
    margin-left: 51px;
    margin-top: -33px;
    

}

/* .container{
    border: solid;
} */ 



/* div.col-md-6{
    margin-left: 51;    
    margin-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}  */